/*
Design by NodeThirtyThree <http://www.nodethirtythree.com>
Published by Free CSS Templates <http://www.freecsstemplates.org/>
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #F4FBFF url(../images/img01.jpg) repeat-x;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #405A67;
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #4F6977;
}

h1 {
	letter-spacing: -1px;
	font-size: 44px;
}

h2 {
	font-weight: bold;
	font-size: 18px;
}

h3 {
	font-size: 14px;
}

p, ul, ol {
	margin: 0 0 1.5em 0;
	line-height: 1.5em;
	text-align: justify;
}

p {
}

blockquote {
	font-style: italic;
}

ul {
}

ol {
}

a {
	color: #38B5F1;
}

a:hover {
	text-decoration: none;
}

small {
}

hr {
	display: none;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 0 15px 0 0;
}

img.right {
	float: left;
	margin: 0 0 0 15px;
}

/* Header */

#header {
	width: 954px;
	height: 183px;
	margin: 0 auto;
	background: url(../images/img02.jpg);
}

/* Logo */

#logo {
	float: left;
	width:500px;
}

#logo h1, #logo h2 {
	float: left;
	color: #FFFFFF;
}

#logo h1 {
	padding: 115px 0 0 50px;
	font-weight: bold;
}

#logo h2 {
	padding: 143px 0 0 8px;
	font-size: 14px;
	font-weight: bold;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding: 140px 20px 0 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
}

#menu a {
	padding: 0 28px 0 0;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 954px;
	margin: 0 auto;
	background: #FFFFFF url(../images/img03.jpg) repeat-y;
}

#bg {
	background: url(../images/img06.jpg) no-repeat left bottom;
}

/* Content */

#content {
	float: left;
	width: 680px;
	background: url(../images/img04.jpg) no-repeat;
}

/* Posts */

.post {
	width: 606px;
	padding: 30px 0 0 48px;
}

.post .title {
	
	padding: 0 0 0 12px;
}

.post .title a {

	color: #4F6977;
}

.post .date {
	font-size:12px;
	margin: -26px 25px 15px 0;
	text-align: right;
	color: #79AFCD;
}

.post .entry {
	padding: 25px 20px 0 12px;
	background: url(../images/img07.jpg) no-repeat;
}

.post .meta {
	padding: 15px 12px;
	background: url(../images/img08.jpg) no-repeat left bottom;
}

.post .meta b {
	display: none;
}

.post .more, .post .comments {
	padding: 0 30px 0 20px;
}

.post .more {
	background: url(../images/img09.gif) no-repeat left center;
}

.post .comments {
	background: url(../images/img10.gif) no-repeat left center;
}

/* About Box */

#about-box {
	width: 185px;
	height: 162px;
	padding: 70px 37px 0 35px;
	font-size: 12px;
	background: url(../images/img11.jpg) no-repeat left bottom;
}

#about-box h2 {
	margin-bottom: 25px;
	font-size: 12px;
	font-weight: normal;
}

#about-box p {
	font-size: 12px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 274px;
	background: url(../images/img05.jpg) no-repeat;
}

#sidebar ul {
	width: 206px;
	margin: 0;
	padding: 0 0 0 30px;
	list-style: none;
}

#sidebar li {
}

#sidebar li ul {
	width: auto;
	padding: 0 15px 0 10px;
}

#sidebar li li {
	padding: 5px 0 5px 0;
	background: url(../images/img13.gif) repeat-x;
}

#sidebar li li.first {
	padding-top: 0;
	background: none;
}

#sidebar li h2 {
	font-size: 14px;
	padding: 30px 0 40px 10px;
	background: url(../images/img12.jpg) no-repeat left bottom;
}

/* Footer */

#footer {
	padding: 30px 0;
}

#footer p {
	text-align: center;
	font-size: 12px;
	color: #83B3CE;
}

#footer a {
	color: #83B3CE;
}